body {
  background-image: url(images/logo4.png);
  background-repeat: no-repeat;
  background-position:50% 50%;
  background-size:100%;
}

/*h1 {*/
/*  color:rgba(22, 22, 22, 0.4);*/
/*  font-size: 96px;*/
/*  text-align: right;*/
/*  margin-right: 80px;*/
/*}*/

.left {
  width: 800px;
}
.right {
  width: 100%;
}

.account-card {
  background-color: rgba( 0, 0, 0, 0.55 );
  color: white;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
}

.sender-card {
  background-color: rgba( 0, 0, 0, 0.55 );
  color: white;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
}

.tx-card {
  background-color: rgba( 0, 0, 0, 0.55 );
  color: white;
  border-radius: 16px;
  padding: 32px;
  width: 600px;
  margin: 16px;
}

.textfiled-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.textfiled {
  width: 400px;
}

#wallet-addr {
  font-size: 24px;
}

.container {
  font-size: 45px;
  margin: 16px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 80px;
}
